
    div.prioridade {
      position: absolute;
        top: 148px;
        width: 100%;
        color: white;
        text-align: center;
        font-size: 15;
    }
        div.status {
        position: absolute;
        top: -25px;
        width: 100%;
        color: white;
        text-align: center;
    }
         div.card {
            background-color: white;
            border-style: none;
            border-width: 30px 3px 20px 3px;
            height: 200px;
        }

        span.step {
      font-weight: bold;
            border-radius: 0.4em;
            -moz-border-radius: 0.4em;
            -webkit-border-radius: 0.4em;
            display: inline-block;
            line-height: 2em;
            margin-right: 5px;
            width: 10em;
            font-size: 20;
        }
    
    .card-content-black-text{
      border-style: solid;
      border-color:black;
      margin: 10px;
      padding: 8px;
    }

        /* Button used to open the contact form - fixed at the bottom of the page */
        .open-button {
      position:absolute;
      top: 2px; 
            background-color: #555;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
      float: right;
            opacity: 0.8;
            right: 16.7%;
            width: 280px;
        }

         .leave-button {
      position:absolute;
      top: 2px; 
            background-color: #555;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
      float: right;
            opacity: 0.8;
            right: 77%;
            width: 120;
        }

        /* The popup form - hidden by default */
        .form-popup {
            display: none;
            border: 3px solid #f1f1f1;
            background-color: white;
        }

        /* Add styles to the form container */
        .form-container {
            background-color: white;
            padding: 10px;
        }

        .form-container textarea{
            max-width: 100%;
            resize: none;
            height: 100px;
            margin-bottom: 20px;
        }

        /* Full-width input fields */
        .form-container input[type=text], textarea, .form-container input[type=password] {
            border: none;
            background: #f1f1f1;
        }

        /* When the inputs get focus, do something */
        .form-container input[type=text]:focus, .form-container input[type=password]:focus {
             background-color: #ddd;
             outline: none;
        }

        /* Set a style for the submit/login button */
       .form-container .btn {
             background-color: #4CAF50;
             color: white;
             border: none;
             margin-bottom: 10px;
             cursor: pointer;
             width: 100%;
             opacity: 0.8;
       }

       /* Add a red background color to the cancel button */
      .form-container .cancel {
            background-color: red;
      }

    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }